.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.conteudo__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.conteudo__subtitle{
  max-width: 640px;
}

@media screen and (min-width: 1024px) {
  .conteudo__content {
    padding: 2em 1em;
    max-width: 1220px;
  }
}
