.professora {
    background-image: url("../../img/mobile/MOBILE-BG-LNP_VENDAS01_BIO-V00.jpg.webp");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 95% 3% 7% 3%;
}

.professora__content {
    background-color: rgb(250, 250, 250, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    padding: 7% 1% 7% 1%;
}

.professora-map {
    padding: 3% 5% 3% 5%;
}

@media screen and (min-width: 935px) {
    .professora {
        background-image: url("../../img/BG-LNP_VENDAS01_BIO-V09.jpg.webp");
        padding: 10% 10% 10% 10%;
        background-size: auto;
    }
    .professora__content {
        padding: 5% 1% 5% 1%;
        width: 30%;
    }
}