    .pilares {
        background-image: url("../../img/mobile/MOBILE_BG-LNP_VENDAS01_S03-V00.1.jpg.webp");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em;
    }
    
    .pilares__text {
        margin-top: 90%;
    }
    
    @media screen and (min-width: 1024px) {
        .pilares {
            background-image: url("../../img/BG-LNP_VENDAS01_S03-V005.jpg.webp");
            background-size: auto;
        }
        .pilares__text {
            margin-top: 15em;
        }
    }