.garantia {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.garantia__text {
    text-align: left;
}

@media screen and (min-width: 640px) {
    .garantia__text {
        margin: 1em;
        max-width: 550px;
    }
}

@media screen and (min-width: 1024px) {
    .garantia {
        flex-direction: row;
        justify-content: center;
    }
    .garantia__text {
        margin: 1em;
        max-width: 600px;
    }
    .garantia__title {
        margin-left: 1em;
        text-align: left;
    }
}