.alunos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 5% 10% 5%;
    background-color: rgb(250, 250, 250);
}

.alunos-h3 {
    margin-top: 20%;
}

@media screen and (min-width: 935px) {
    .alunos {
        padding: 0% 5% 10% 5%;
    }
    .alunos-h3 {
        margin-top: 10%;
        width: 650px;
    }
}