.duvidas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.duvidas__content {
    display: flex;
    align-items: center;
    padding: 10px;
}

.duvidas__button {
    color: var(--primary-color);
    border: none;
    background-color: rgb(250, 250, 250);
    display: flex;
    text-align: left;
    align-items: flex-start;
    justify-items: left;
}

.duvidas__text {
    text-align: left;
}

.duvidas__p {
    display: table-caption;
    width: fit-content;
    transition: 0.5;
    text-align: left;
    padding-left: 1em;
}

.duvidas__text-active {
    text-align: left;
    color: var(--secondary-color);
}

@media screen and (min-width: 1024px) {
    .duvidas {
        padding: 0;
        height: 380px;
        margin-bottom: 2em;
    }
    .duvidas__box {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        width: 90%;
    }
    .duvidas__title {
        margin-right: 3%;
        min-width: 300px;
    }
}