.faixa2 {
    background-color: var(--primary-color-alt);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.faixa2__title {
    color: #fff;
}

.faixa2__text {
    color: var(--secondary-color);
    font-weight: 500;
}