.direction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
}

#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 600px;
}

.opacity {
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0.35;
}

.yellow {
    color: var(--secondary-color);
    text-shadow: 0px 1px rgb(152, 152, 80);
}

.padding-y {
    padding: 5% 0;
}

.video {
    width: 300px;
    height: 170px;
    margin: 3%;
}

.buttonSub {
    background-color: var( --secondary-color);
    margin: 10% 0 10% 0%;
    border-radius: 5px;
    border: none;
    padding: 10% 10% 20% 10%;
    font-weight: 500;
    font-family: 'sora';
    font-size: 18px;
    width: 320px;
    height: 92px;
}

.buttonSub:hover {
    background-color: var( --primary-color-alt);
    color: #FFF;
    transition: 0.3s;
}

.line {
    text-decoration: line-through;
}

.box450 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: 360px;
    padding-top: 10%;
    margin: 0 10px 10px 10px;
}

.hidden {
    display: none;
    transition: 0.5;
}

.colorDarkBlue {
    color: #006778;
}

.transition {
    transition: 0.5;
}

.card-1 {
    background-image: url("../img/mobile/MOBILE_BG-LNP_VENDAS01_HERO-V00.1.jpg.webp");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding-top: 55%;
    max-width: 520px;
}

.card-2 {
    background-image: url("../img/mobile/MOBILE_BG-LNP_VENDAS01_CURSO_V00.1.jpg.webp");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-frame::-webkit-media-controls-play-button{
    position: absolute;
    top: 50%;
    left: 50%;

}

.flex2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 100% 0 20% 0;
}

.card2-h3 {
    margin-top: 20%;
}

.card-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20% 0 20% 0;
    background-color: rgb(250, 250, 250);
}

.grid-3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card3-h3 {
    padding: 0 15%;
}

.icon3 {
    font-size: 60px;
    width: 1em;
    height: 1em;
    position: relative;
    display: block;
    fill: #006778;
    stroke: #006778;
    stroke-miterlimit: 10;
}

.icon3-1 {
    font-size: 60px;
    width: 0.7em;
    height: 1em;
    position: relative;
    display: block;
    fill: #006778;
    stroke: #006778;
    stroke-miterlimit: 10;
}

.box150 {
    background-image: linear-gradient(180deg, #0095AD1F 0%, #FAFAFA00 100%);
    height: 150px;
    width: 170px;
    margin: 5px;
    padding: 10px 10px;
    border-radius: 10px;
}

.box150:hover {
    background-image: linear-gradient(180deg, #0095AD1F 0%, #FAFAFA00 100%);
    height: 150px;
    width: 170px;
    margin: 5px;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    transition: 0.4s;
}

.box70 {
    fill: #006778;
    height: 70px;
    width: 70px;
}

.left {
    text-align: left;
}

.card-4 {
    background-image: url("../img/mobile/MOBILE_BG-LNP_VENDAS01_S03-V00.1.jpg.webp");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 95% 5% 0 5%;
}

.card-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 5% 10% 5%;
    background-color: rgb(250, 250, 250);
}

.card5-h3 {
    margin-top: 20%;
}

.imgAluno {
    border-radius: 25px;
    width: 270px;
    max-height: 430px;
}

.card-6 {
    background-color: var(--primary-color-alt);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 5% 10% 5%;
}

.card6-h3 {
    color: #fff;
}

.card-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 7% 10% 7%;
}

.img7 {
    width: 360px;
    height: 230px;
}

.card-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5% 20% 5%;
    margin-top: 20%;
}

.flex8 {
    display: flex;
    flex-wrap: wrap;
    padding: 10% 0% 0% 0%;
    justify-content: center;
}

.map8 {
    width: 150px;
    margin: 3px;
}

.img8 {
    height: 220px;
    border-radius: 5px;
}

.button8 {
    border: none;
    color: white;
    font-size: 20px;
    background-color: var(--primary-color-alt);
    padding: 5px 20px;
}

.card-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10% 20% 10%;
    fill: var(--primary-color-alt);
    stroke: var(--primary-color-alt);
    stroke-miterlimit: 10;
}

.img9 {
    height: 260px;
    border-radius: 5px;
    margin: 5% 5% 5% 0%;
}

.icon9 {
    height: 40px;
    width: 40px;
    margin-top: 10px;
}

.title9 {
    font-weight: 600;
    line-height: 1.4em;
}

.flex9 {
    display: flex;
}

.card-10 {
    background-color: var(--primary-color-alt);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25% 5% 7% 5%;
}

.box10 {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 7% 3% 7% 3%;
}

.garantias10 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5%;
}

.title10 {
    font-weight: 800;
    line-height: 1.4em;
}

.subtitle10 {
    font-weight: 500;
}

.flex10 {
    display: flex;
    width: 90%;
}

.icon10 {
    color: var(--secondary-color);
    width: 16px;
    height: 16px;
    display: flex;
    align-self: top;
    margin: 0 2% 0 0;
    font-size: 35px;
}

.text10 {
    color: var( --primary-color);
    font-weight: 500;
    margin: 5px 20px 5px 0;
    text-align: left;
}

.card-11 {
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7% 1% 7% 1%;
}

.video11 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-12 {
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7% 1% 7% 1%;
}

.img12 {
    width: 270px;
    max-height: 430px;
}

.card-13 {
    background-image: url("../img/mobile/MOBILE-BG-LNP_VENDAS01_BIO-V00.jpg.webp");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 95% 3% 7% 3%;
}

.flex13 {
    background-color: rgb(250, 250, 250, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    padding: 7% 1% 7% 1%;
}

.professora {
    padding: 3% 5% 3% 5%;
}

.card-15 {
    background-color: var(--primary-color-alt);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7% 1% 7% 1%;
}

.title15 {
    color: #fff;
}

.text15 {
    color: var(--secondary-color);
    font-weight: 500;
}



.card-16 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7% 10% 7% 10%;
}

.text16 {
    text-align: left;
}

.card-17 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7%;
}

.flex-17 {
    display: flex;
    align-items: center;
    padding: 10px;
}

.button17 {
    color: var(--primary-color);
    border: none;
    background-color: rgb(250, 250, 250);
    display: flex;
    text-align: left;
    align-items: flex-start;
    justify-items: left;
}

.text17 {
    text-align: left;
}

.p17 {
    display: table-caption;
    width: fit-content;
    transition: 0.5;
}

.icon17 {
    color: var(--primary-color);
    width: 14px;
    height: 14px;
}

.text172 {
    text-align: left;
    color: var(--secondary-color);
}

.icon172 {
    color: var(--secondary-color);
    width: 14px;
    height: 14px;
}

.footer {
    opacity: 0.5;
    font-size: 14px;
    padding: 5%;
    font-weight: 300;
}

.dialogStyles {
    width: 90%;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.dialogCloseButtonStyles {
    background-color: var(--primary-color-alt);
    padding: 3px 8px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    font-weight: bold;
    align-self: flex-end;
    margin: 5% 5% 0% 5%;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}

.dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}

.dialogLabel {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.dialogHead {
    background-color: var(--primary-color-alt);
}

.dialogTitle {
    color: #fff;
}

.dialogText {
    color: #fff;
    padding: 0 5% 5% 5%;
}

.dialogButtonSub {
    background-color: var( --secondary-color);
    margin: 5% 0% 0% 0%;
    border-radius: 5px;
    border: none;
    padding: 10% 5% 10% 5%;
    font-weight: 500;
    font-family: 'sora';
    font-size: 18px;
    height: 92px;
}

.imgwwapp {
    width: 60%;
    margin-top: 13px;
    margin-left: 3px;
}

.linkwwapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    padding: 0px;
}
.video-frame {
    width: 100%;
    aspect-ratio: 16 / 9;
}

@media screen and (min-width: 935px) {
    .align-left {
        text-align: left;
    }
    .box450 {
        width: 800px;
        padding-top: 5%;
    }

    .card-1 {
        background-image: url("../img/BG-HERO-VENDAS01-LNP-V003-1.jpg.webp");
        align-items: flex-start;
        background-size: contain;
        padding-bottom: 10%;
    }
    .flex1 {
        padding: 6% 0 0 12%;
    }

    .card-2 {
        background-image: url("../img/BG-CURSO-VENDAS01-LNP-V003-1.jpg.webp");
        align-items: flex-end;
    }
    .flex2 {
        align-items: flex-start;
        width: 40%;
        padding: 7% 0% 10% 0;
        margin-right: 16px;
        max-width: 520px;
    }
    .card2-h3 {
        margin-top: 0%;
    }
    .card-3 {
        padding: 10% 0 10% 0;
    }
    .card-4 {
        background-image: url("../img/BG-LNP_VENDAS01_S03-V005.jpg.webp");
        padding: 30% 5% 2% 5%;
        background-size: contain;
    }
    .card-5 {
        padding: 0% 5% 10% 5%;
    }
    .card5-h3 {
        margin-top: 10%;
        width: 650px;
    }
    .card-6 {
        flex-direction: row;
        padding: 6%;
    }
    .card6-h3 {
        text-align: left;
        width: 600px;
        margin: 0 20px;
        padding: 0 20px;
    }

    .card-7 {
        flex-direction: row;
        padding: 5% 4% 0% 2%;
    }
    .title7 {
        /* width: 550px; */
    }
    .text7 {
        /* width: 550px; */
    }
    .img7 {
        width: 560px;
        height: 370px;
        margin: 3%;
    }
    .card-8 {
        padding: 0 5% 10% 5%;
        margin-top: 5%;
    }
    .flex8 {
        padding: 7% 4% 0% 4%;
        max-width: 1220px;
    }
    .map8 {
        margin: 6px;
        flex-wrap: wrap;
        width: 205px;
    }
    .img8 {
        width: 205px;
        height: 300px;
    }
    .button8 {
        width: 205px;
        height: 50px;
    }
    .card-9 {
        padding: 0 10% 10% 10%;
    }
    .box9 {
        display: flex;
    }
    .img9 {
        height: 360px;
        margin: 5%;
    }
    .icon9 {
        height: 50px;
        width: 50px;
        margin: 30px 0 10px 0;
    }
    .card-10 {
        padding: 5% 5% 7% 5%;
    }
    .box10 {
        padding: 4% 3% 5% 3%;
    }
    .img10 {
        margin: 5% 0% 0% 5%;
        width: 80%;
    }
    .video11 {
        width: 95%;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .card-12 {
        padding: 0% 1% 7% 1%;
    }
    .card-13 {
        background-image: url("../img/BG-LNP_VENDAS01_BIO-V09.jpg.webp");
        padding: 10% 10% 10% 10%;
        background-size: auto;
    }
    .flex13 {
        padding: 5% 1% 5% 1%;
        width: 30%;
    }
    .card-15 {
        padding: 3% 1% 0% 1%;
    }

    .card-16 {
        flex-direction: row;
        justify-content: center;
    }
    .text16 {
        margin: 2%;
        text-align: left;
        max-width: 600px;
    }
    .title16 {
        margin-left: 2%;
        text-align: left;
    }
    .card-17 {
        padding: 0;
        height: 380px;
    }
    .box17 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        width: 90%;
    }
    .title17 {
        margin-right: 3%;
        min-width: 300px;
    }
    .footer {
        font-weight: 400;
        font-size: 20px;
        padding: 0;
    }
    .dialogStyles {
        width: 40%;
    }
}